# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# virtualenvs
env/
venv/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# logs
*.log

# Streamlit local config
.streamlit/
